<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bigproj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>262567181DE4CA3F00BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262567361DE4CEC400BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262567441DE4CED800BD1FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
